<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Add Student</title>
</head>
<body>
    <div class="container">
        <h1>Add New Student</h1>
        <form action="{{ url_for('add_student') }}" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="contact">Contact:</label>
            <input type="text" id="contact" name="contact" required>

            <label for="section">
                Section:
            </label>
            <select name="section" id="section">
                <option value="A">A Section</option>
                <option value="B">B Section</option>
            </select> 
            
            <label for="college">college:</label>
            <input type="text" id="college" name="college" required>

            <label for="address">Address:</label>
            <textarea name="address" id="address" rows="5" cols="40"></textarea>



            
            <button type="submit">Add Student</button>
        </form>
        <a href="{{ url_for('home') }}">Back to Home</a>
    </div>
</body>
</html>